img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 3px solid black;
}

img:hover {
  border-radius: 50%;
}

li {
  color: #1C6DD0;
}

h1 {
  text-decoration: underline;
}

body {
  background-color: #EF2F88;
}

div :hover {
  background-color: gold;
  border-radius: 25px;
}

div {
  border: 5px solid black;
  border-radius: 25px;
  margin-right: 8px;
  margin-left: 8px;
}

#name {
  font-size: 55px;
  color: #B000B9;
}

.cry {
  background-color: #84DFFF;
}

.ulv {
  background-color: #84DFFF
}

.vlu {
  background-color: #84DFFF;
}

.luv {
  background-color: #84DFFF
}

.uhv {
  background-color: #84DFFF;
}

.rotated:hover {
  background-color: #FFADF0;
}
